SECRET_KEY=change-me-to-a-long-random-string
DEBUG=False
ENVIRONMENT=production
ALLOWED_HOSTS=zpevnik.upupaepops.cz,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://zpevnik.upupaepops.cz

DB_NAME=zpevnik
DB_USER=zpevnik
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
